<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>S H O P</title>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/admin/add-product">Add product</a></li>
      <li><a href="/">Shop</a></li>
    </ul>
  </nav>
</header>
<main>
  <h1>Welcome to S H O P</h1>
  <h2>Add a new product</h2>
  <form action="/admin/product" method="POST">
    <label for="product">Product:</label>
    <input type="text" name="product" id="product">
    <label for="price">Price:</label>
    <input type="number" name="price" id="price">
    <button type="submit">Add product</button>
  </form>

</main>
</body>
</html>
